<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Info page</title>
</head>

<body>
	<h1>Info page</h1>
    <h1>{{getCurrentYear}}</h1>
	<a href="/info">Info</a>
    <p></p>
    <a href="/weather">Weather</a>
    <p></p>
    <a href="/">Home page</a>

	<p>I'm Vivian</p>
</body>

	{{> footer}}

<!-- <footer>
	<p>Copyright {{year}}</p>
</footer> -->

</html>